<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xcm.smallmall.mapper.MallSequenceMapper">
  <resultMap id="BaseResultMap" type="com.xcm.smallmall.model.MallSequence">
    <id column="seq_name" jdbcType="VARCHAR" property="seqName" />
    <result column="min_value" jdbcType="BIGINT" property="minValue" />
    <result column="max_value" jdbcType="BIGINT" property="maxValue" />
    <result column="current_val" jdbcType="BIGINT" property="currentVal" />
    <result column="increment_val" jdbcType="INTEGER" property="incrementVal" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    seq_name, min_value, max_value, current_val, increment_val, remark
  </sql>
  <select id="selectByExample" parameterType="com.xcm.smallmall.model.MallSequenceExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from mall_sequence
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from mall_sequence
    where seq_name = #{seqName,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from mall_sequence
    where seq_name = #{seqName,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.xcm.smallmall.model.MallSequenceExample">
    delete from mall_sequence
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.xcm.smallmall.model.MallSequence">
    insert into mall_sequence (seq_name, min_value, max_value, 
      current_val, increment_val, remark
      )
    values (#{seqName,jdbcType=VARCHAR}, #{minValue,jdbcType=BIGINT}, #{maxValue,jdbcType=BIGINT}, 
      #{currentVal,jdbcType=BIGINT}, #{incrementVal,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.xcm.smallmall.model.MallSequence">
    insert into mall_sequence
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="seqName != null">
        seq_name,
      </if>
      <if test="minValue != null">
        min_value,
      </if>
      <if test="maxValue != null">
        max_value,
      </if>
      <if test="currentVal != null">
        current_val,
      </if>
      <if test="incrementVal != null">
        increment_val,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="seqName != null">
        #{seqName,jdbcType=VARCHAR},
      </if>
      <if test="minValue != null">
        #{minValue,jdbcType=BIGINT},
      </if>
      <if test="maxValue != null">
        #{maxValue,jdbcType=BIGINT},
      </if>
      <if test="currentVal != null">
        #{currentVal,jdbcType=BIGINT},
      </if>
      <if test="incrementVal != null">
        #{incrementVal,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.xcm.smallmall.model.MallSequenceExample" resultType="java.lang.Long">
    select count(*) from mall_sequence
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update mall_sequence
    <set>
      <if test="record.seqName != null">
        seq_name = #{record.seqName,jdbcType=VARCHAR},
      </if>
      <if test="record.minValue != null">
        min_value = #{record.minValue,jdbcType=BIGINT},
      </if>
      <if test="record.maxValue != null">
        max_value = #{record.maxValue,jdbcType=BIGINT},
      </if>
      <if test="record.currentVal != null">
        current_val = #{record.currentVal,jdbcType=BIGINT},
      </if>
      <if test="record.incrementVal != null">
        increment_val = #{record.incrementVal,jdbcType=INTEGER},
      </if>
      <if test="record.remark != null">
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update mall_sequence
    set seq_name = #{record.seqName,jdbcType=VARCHAR},
      min_value = #{record.minValue,jdbcType=BIGINT},
      max_value = #{record.maxValue,jdbcType=BIGINT},
      current_val = #{record.currentVal,jdbcType=BIGINT},
      increment_val = #{record.incrementVal,jdbcType=INTEGER},
      remark = #{record.remark,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.xcm.smallmall.model.MallSequence">
    update mall_sequence
    <set>
      <if test="minValue != null">
        min_value = #{minValue,jdbcType=BIGINT},
      </if>
      <if test="maxValue != null">
        max_value = #{maxValue,jdbcType=BIGINT},
      </if>
      <if test="currentVal != null">
        current_val = #{currentVal,jdbcType=BIGINT},
      </if>
      <if test="incrementVal != null">
        increment_val = #{incrementVal,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where seq_name = #{seqName,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xcm.smallmall.model.MallSequence">
    update mall_sequence
    set min_value = #{minValue,jdbcType=BIGINT},
      max_value = #{maxValue,jdbcType=BIGINT},
      current_val = #{currentVal,jdbcType=BIGINT},
      increment_val = #{incrementVal,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR}
    where seq_name = #{seqName,jdbcType=VARCHAR}
  </update>
</mapper>